Repository ensdomains/docs-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lucemans, @svemat01, @arachnid

Update Homepage
  content/index.mdx
  docs/src/layout/PageLayout.tsx
Owners: @lucemans, @svemat01

Update Homepage
  content/index.mdx
Owners: @lucemans

Bump OpenGraph & Responsiveness
  content/index.mdx
  docs/app/page.tsx
Owners: @lucemans, @svemat01

Bump Header Footer Mobile & Dark
  docs/app/globals.css
  docs/src/layout/PageLayout.tsx
  docs/src/layout/footer/PageFooter.tsx
  docs/src/layout/header/Header.tsx
  docs/src/typography.js
Owners: @lucemans, @svemat01

Bump Wagmi & More
  content/learn/ccip.mdx
  content/learn/multichain.mdx
  content/registry/eth.mdx
  content/resolution/index.mdx
  content/resolution/names.mdx
  docs/app/theme.tsx
  docs/src/config/navigation/protocol.ts
  docs/src/content/demos/ethregistry/ETHRegistryDemo.tsx
  docs/src/content/demos/ethregistry/hooks/isAvailable.ts
  docs/src/content/demos/ethregistry/hooks/useCommitment.ts
  docs/src/content/demos/ethregistry/hooks/useRentPrice.ts
  docs/src/content/demos/ethregistry/inputs/ChainField.tsx
  docs/src/content/demos/ethregistryrenew/ETHRegistryRenewDemo.tsx
  docs/src/content/demos/resolvertest/index.tsx
  docs/src/content/demos/siwe/SiweDemo.tsx
  docs/src/content/extras/icons/NotIcon.tsx
  docs/src/content/extras/index.ts
Owners: @lucemans, @svemat01

Bump
  docs/src/content/demos/ethregistry/ETHRegistryDemo.tsx
Owners: @lucemans, @svemat01

Introduce Repository Language Support, Update Chain Order
  content/resolvers/ccip.mdx
  docs/app/theme.tsx
  docs/src/content/prose/repository/github/index.tsx
Owners: @lucemans, @svemat01

Fix typos
  content/dao/proposals.mdx
  content/ensip/10.mdx
  content/ensip/16.mdx
  content/learn/deployments.mdx
  content/learn/multichain.mdx
  content/learn/resolution.mdx
  content/registry/dns.mdx
  content/registry/ens.mdx
  content/registry/eth.mdx
  content/registry/reverse.mdx
  content/resolution/names.mdx
  content/resolvers/interacting.mdx
  content/resolvers/public.mdx
  content/resolvers/quickstart.mdx
  content/web/avatars.mdx
  content/web/enumerate.mdx
  content/web/resolution.mdx
  content/web/reverse.mdx
  content/web/siwe.mdx
  docs/src/content/demos/namelookup/logic/useProfile.ts
  docs/src/content/prose/code/_legacy/CopyButton.tsx
  docs/src/content/prose/code/group/CodeGroup.tsx
  docs/src/lib/mdxPageProps.ts
Owners: @lucemans, @arachnid, @svemat01

feat/feedback-plausible
  docs/src/layout/footer/feedback/FeedbackSection.tsx
Owners: @lucemans, @svemat01

Update Page Feedback Form (#31)
  docs/src/layout/footer/feedback/FeedbackSection.tsx
Owners: @lucemans, @svemat01

Update Spelling (#30)
  content/dao/proposals.mdx
  content/ensip/10.mdx
  content/ensip/16.mdx
  content/learn/deployments.mdx
  content/learn/multichain.mdx
  content/learn/resolution.mdx
  content/registry/dns.mdx
  content/registry/ens.mdx
  content/registry/eth.mdx
  content/registry/reverse.mdx
  content/resolution/names.mdx
  content/resolvers/interacting.mdx
  content/resolvers/public.mdx
  content/resolvers/quickstart.mdx
  content/web/avatars.mdx
  content/web/enumerate.mdx
  content/web/resolution.mdx
  content/web/reverse.mdx
  content/web/siwe.mdx
  docs/src/content/demos/namelookup/logic/useProfile.ts
  docs/src/content/prose/code/_legacy/CopyButton.tsx
  docs/src/content/prose/code/group/CodeGroup.tsx
  docs/src/lib/mdxPageProps.ts
Owners: @lucemans, @arachnid, @svemat01

Update Content
  content/ensip/index.mdx
  content/learn/ccip.mdx
  content/resolution/index.mdx
  content/resolvers/ccip.mdx
  content/resolvers/interacting.mdx
  content/web/avatars.mdx
  content/web/multichain.mdx
  content/web/resolution.mdx
  content/web/reverse.mdx
  docs/src/config/languages.ts
  docs/src/config/navigation/protocol.ts
Owners: @arachnid, @lucemans, @svemat01

Update Content
  content/ensip/index.mdx
  content/index.mdx
  content/learn/deployments.mdx
  content/learn/resolution.mdx
  content/resolvers/ccip.mdx
  content/resolvers/interfaces.mdx
  docs/app/globals.css
  docs/src/components/ConnectKits.tsx
  docs/src/config/navigation/protocol.ts
  docs/src/content/demos/ethregistry/ETHRegistryDemo.tsx
  docs/src/content/prose/code/Code.tsx
  docs/src/content/prose/code/snippet/CodeSnippet.tsx
  docs/src/content/prose/index.ts
  docs/src/content/prose/link/ALink.tsx
  docs/src/content/prose/repository/github/index.tsx
  docs/src/layout/sidebar/_legacy/sidenav.tsx
  docs/tailwind.config.js
Owners: @arachnid, @lucemans, @svemat01

Update Theme Switcher, Update Links
  content/index.mdx
  content/web/subdomains.mdx
  docs/src/layout/header/ThemeSwitcher.tsx
Owners: @lucemans, @svemat01

Introduce Outline, Update Headers, Patch CI
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  content/resolution/names.mdx
  docs/mdx/rehype.mjs
  docs/src/components/mdx/h2.tsx
  docs/src/components/mdx/heading/h2.tsx
  docs/src/content/prose/index.ts
  docs/src/layout/PageLayout.tsx
  docs/src/lib/mdxPageProps.ts
Owners: @lucemans, @svemat01

Bump
  docs/src/layout/PageLayout.tsx
Owners: @lucemans, @svemat01

Update Deployments & Main Text
  content/index.mdx
  content/learn/deployments.mdx
  content/learn/protocol.mdx
Owners: @lucemans

Improve search styling
  docs/src/layout/header/search/ResponsiveSearch.tsx
  docs/src/layout/header/search/Search.tsx
  docs/src/layout/header/search/SearchResults.tsx
  docs/src/layout/sidebar/_legacy/navgroup.tsx
  docs/tailwind.config.js
Owners: @lucemans, @svemat01

Accent color based on hit category
  docs/src/layout/header/search/SearchResults.tsx
Owners: @lucemans, @svemat01

Fix tabindex
  docs/src/layout/header/search/Search.tsx
Owners: @lucemans, @svemat01

Fix tabindex and do magic
  docs/src/layout/header/search/SearchResults.tsx
Owners: @lucemans, @svemat01

Update Modifier Key, Search Styling, Theme Switcher Patch
  content/index.mdx
  docs/src/layout/header/Header.tsx
  docs/src/layout/header/search/Search.tsx
Owners: @lucemans, @svemat01

Improve search styling (#32)
  docs/src/layout/header/search/ResponsiveSearch.tsx
  docs/src/layout/header/search/Search.tsx
  docs/src/layout/header/search/SearchResults.tsx
  docs/src/layout/sidebar/_legacy/navgroup.tsx
  docs/tailwind.config.js
Owners: @lucemans, @svemat01

Introduce Partial 404 Handling
  docs/app/[...slug]/page.tsx
  docs/app/page.tsx
  docs/src/layout/PageLayout.tsx
  docs/src/layout/RouteCheck.tsx
Owners: @lucemans, @svemat01

Patch Partial 404 Handling
  docs/app/[...slug]/page.tsx
  docs/src/layout/RouteCheck.tsx
Owners: @lucemans, @svemat01

Introduce Code Line Numbers & Update Border Color
  content/registry/eth.mdx
  docs/app/globals.css
  docs/src/content/prose/code/snippet/CodeSnippet.tsx
  docs/src/typography.js
Owners: @lucemans, @svemat01

Update Redirects
  docs/public/edgerc.json
Owners: @lucemans, @svemat01

Update Copy Button & Code Highlight
  docs/src/content/prose/code/_legacy/CopyButton.tsx
  docs/src/content/prose/code/snippet/CodeSnippet.tsx
  docs/src/typography.js
Owners: @lucemans, @svemat01

Upgrade Search Modal
  content/dao/constitution.mdx
  content/registry/dns.mdx
  content/registry/ens.mdx
  content/registry/eth.mdx
  content/registry/reverse.mdx
  content/registry/writing.mdx
  content/web/avatars.mdx
  content/web/design.mdx
  content/web/enumerate.mdx
  docs/app/[...slug]/page.tsx
  docs/app/globals.css
  docs/src/content/prose/link/ALink.tsx
  docs/src/layout/RouteCheck.tsx
  docs/src/layout/header/search/ResponsiveSearch.tsx
  docs/src/layout/header/search/SearchModal.tsx
  docs/src/layout/header/search/SearchResults.tsx
  docs/src/typography.js
Owners: @lucemans, @svemat01

Improve Search Accessibility
  docs/app/globals.css
  docs/src/layout/header/search/ResponsiveSearch.tsx
  docs/src/layout/header/search/SearchResults.tsx
Owners: @lucemans, @svemat01

Patch Mobile Search
  docs/src/layout/header/search/ResponsiveSearch.tsx
  docs/src/layout/header/search/Search.tsx
  docs/src/layout/header/search/SearchModal.tsx
Owners: @lucemans, @svemat01

Linting, Update X
  content/dao/index.mdx
  content/dao/proposals/1.9.mdx
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/layout/footer/PageFooter.tsx
Owners: @lucemans, @svemat01

Update DAO Proposals, Starter Kits, Libraries, and Redirects
  content/dao/index.mdx
  content/dao/proposals/3.6.mdx
  content/dao/proposals/3.7.mdx
  content/dao/proposals/4.1.mdx
  content/dao/proposals/4.10.mdx
  content/dao/proposals/4.2.mdx
  content/dao/proposals/4.3.mdx
  content/dao/proposals/4.4.mdx
  content/dao/proposals/4.5.mdx
  content/dao/proposals/4.6.mdx
  content/dao/proposals/4.7.mdx
  content/dao/proposals/4.8.mdx
  content/dao/proposals/4.9.mdx
  content/faq.mdx
  content/web/libraries.mdx
  content/web/quickstart.mdx
  content/web/resolution.mdx
  content/web/reverse.mdx
  docs/public/edgerc.json
  docs/public/icons/snapshot.png
  docs/public/icons/tally.ico
  docs/public/icons/tally.svg
  docs/src/components/TruncatedAddress.tsx
  docs/src/config/navigation/protocol.ts
  docs/src/layout/details/PageDetails.tsx
  docs/src/layout/details/variations/GitCommitLink.tsx
Owners: @lucemans, @svemat01

Update Proposals & Redirects
  content/dao/proposals/4.10.mdx
  content/dao/proposals/4.6.mdx
  content/dao/proposals/4.7.mdx
  content/dao/proposals/4.8.mdx
  content/dao/proposals/4.9.mdx
  content/dao/stewards.mdx
  content/dao/wg/rules.mdx
  docs/public/edgerc.json
  docs/src/config/navigation/protocol.ts
Owners: @lucemans, @svemat01

Update Theme Switcher
  content/faq.mdx
  docs/src/layout/header/ThemeSwitcher.tsx
Owners: @lucemans, @svemat01

Update Layer 2
  content/learn/ccip.mdx
  content/learn/deployments.mdx
  docs/src/config/navigation/protocol.ts
Owners: @lucemans, @svemat01

Update Contracts & CCIP Resolvers
  content/contracts/index.mdx
  content/resolvers/ccip.mdx
  docs/src/config/navigation/protocol.ts
Owners: @lucemans, @svemat01

Bump
  content/contracts/index.mdx
  content/learn/resolution.mdx
  content/resolvers/ccip.mdx
  docs/src/components/mdx/EmbedLink.tsx
  docs/src/config/navigation/protocol.ts
Owners: @lucemans, @svemat01

Testing mermaid diagram for states
  content/index.mdx
  content/subnames/wrapper.mdx
  docs/public/content/namewrapper/namewrapper-overview-subnames.jpg
  docs/public/content/namewrapper/namewrapper-overview-wrapped.jpg
  docs/public/content/namewrapper/wrapped-state-diagram.png
  docs/src/config/navigation/protocol.ts
Owners: @lucemans, @svemat01

Update Color Scheme & Edit Heading
  docs/app/globals.css
Owners: @lucemans, @svemat01

.github/CODEOWNERS:

content/ @lucemans
.github/ @lucemans
docs/ @lucemans @svemat01

content/ensip/ @arachnid
content/ensip/index @lucemans
